body {
    background-color: #000000; /*#263238;*/
}

P {
    text-indent: 1.5em; /* Отступ первой строки */
    text-align: justify; /* Выравнивание по ширине */
    font-size: 24px;
    color: #E8F5E9;
}

h1, h2, h5 {
    color: #E8F5E9;

    /*src: url(sansation_light.woff);*/
}

.collapsible-header{
    font-size: 30px;
}
.side-nav {
    background-color: #9F9F9F;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #E8F5E9;
}

.dropdown-content li {
    background-color: #000000;
}
